/TAD_Ex_02/nbproject/private/
/Revisao_Ex_Extra_02/build/
/Revisao_Ex_Extra_02/nbproject/private/
/Revisao_Ex_Extra_04/build/
/Revisao_Ex_Extra_04/nbproject/private/
/TAD_Ex_01/nbproject/private/
/TAD_Ex_02/build/
/TAD_Ex_03/nbproject/private/
/TAD_Ex_03/build/
/Pilha_Dinamica/nbproject/private/
/Pilha_Dinamica/build/