/TAD_Ex_02/nbproject/private/
/Revisao_Ex_Extra_02/build/
/Revisao_Ex_Extra_02/nbproject/private/
/Revisao_Ex_Extra_04/build/
/Revisao_Ex_Extra_04/nbproject/private/
/TAD_Ex_01/nbproject/private/
/TAD_Ex_02/build/
/TAD_Ex_03/nbproject/private/
/TAD_Ex_03/build/
/Pilha_Dinamica/nbproject/private/
/Pilha_Dinamica/build/
/Fila_Estatica/nbproject/private/
/Fila_Estatica/build/
/Fila_Circular/nbproject/private/
/Fila_Circular/build/
/calculadora/nbproject/private/
/calculadora/build/
/ccalculadora/nbproject/private/
/calculos/nbproject/private/
/calculos/build/
/Fila_Dinamica/nbproject/private/
/Fila_Dinamica/build/
/Lista_Estatica/nbproject/private/
/Lista_Estatica/build/